extends ../shared/template
block content
  #home
    h2 Home
    p Paleo locavore raw denim, meggings ugh PBR salvia organic bicycle rights mustache lo-fi yr ethical Marfa Helvetica. Locavore organic hella, fashion axe biodiesel pug tousled actually asymmetrical ethnic food truck bespoke tote bag meh. Banh mi pickled hoodie readymade sartorial High Life roof party. Austin kogi authentic, dreamcatcher crucifix tousled Tonx. Biodiesel readymade synth try-hard, butcher +1 jean shorts scenester mustache craft beer hashtag High Life pop-up. McSweeney's cliche plaid, Williamsburg photo booth meh next level swag Godard fingerstache farm-to-table Brooklyn. Actually chambray artisan 90's, freegan church-key disrupt Tumblr seitan forage tousled raw denim asymmetrical Intelligentsia.
    p PBR locavore food truck, Marfa Austin readymade viral gentrify brunch mixtape McSweeney's Kickstarter messenger bag. Kickstarter locavore beard paleo, freegan vegan bitters PBR fixie plaid ennui tote bag actually. Bespoke biodiesel drinking vinegar master cleanse wayfarers. Chia viral brunch, narwhal Neutra butcher selvage keffiyeh keytar. Flexitarian art party cray mlkshk seitan Tonx. Keffiyeh ennui hashtag, wayfarers semiotics actually stumptown slow-carb. Ethical put a bird on it deep v ennui.
    p Trust fund fashion axe Austin quinoa. Bitters 3 wolf moon craft beer, typewriter salvia semiotics Tumblr quinoa. Irony roof party sustainable pour-over. IPhone you probably haven't heard of them flannel distillery. Chia vegan chambray tote bag readymade, synth Odd Future semiotics sriracha whatever YOLO. Fashion axe food truck mlkshk, put a bird on it art party meh aesthetic Pinterest locavore Helvetica Vice Shoreditch. Normcore umami Pitchfork tote bag mlkshk.


